<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.e_gro.teamsix.activity"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="18" />
<uses-permission android:name="android.permission.CAMERA"/>
<uses-permission android:name="android.permission.INTERNET" /> 
<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> ;
<uses-feature android:name="android.hardware.camera" />;
    <application
        android:allowBackup="true"
        android:icon="@drawable/groceries"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        
         <activity android:name="com.dm.zbar.android.scanner.ZBarScannerActivity"
                  android:screenOrientation="landscape"
                  android:label="@string/app_name" />
         
        <activity
            android:name="com.e_grocery.teamsix.activity.MainPageActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
                <activity
            android:name="com.e_grocery.teamsix.activity.ManualAddItem"
            android:label="@string/title_activity_add_item"
            android:parentActivityName="com.e_grocery.teamsix.activity.MainPageActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.e_grocery.teamsix.activity.MainPageActivity" />
        </activity>
                <activity
            android:name="com.e_grocery.teamsix.activity.ShowListActivity"
            android:label="@string/title_activity_groceries_item"
            android:parentActivityName="com.e_grocery.teamsix.activity.MainPageActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.e_grocery.teamsix.activity.MainPageActivity" />
        </activity>
         <activity
            android:name="com.e_grocery.teamsix.activity.EditItemActivity"
            android:label="@string/title_activity_edit_item"
            android:parentActivityName="com.e_grocery.teamsix.activity.ShowListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.e_grocery.teamsix.activity.ShowListActivity" />
        </activity>
        <receiver
           android:process=":remote"
           android:name="com.e_grocery.teamsix.activity.NotificationReceiver">          
       </receiver>
    </application>

</manifest>
